In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as pyplot
import seaborn as sns
import scipy 
from scipy.stats import chisquare

print("pandas version:" ,pd.__version__)
print("matplotlib version:" ,matplotlib.__version__)
print("seaborn version:" ,sns.__version__)
print("scipy versiion:" , scipy.__version__)

ERROR! Session/line number was not unique in database. History logging moved to new session 331
pandas version: 2.2.2
matplotlib version: 3.9.2
seaborn version: 0.13.2
scipy versiion: 1.13.1

## Data

In [2]:
df= sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Test Chisquare

H0: "Les clients donnent les pourboires : 20% jeudi,10% le vendredi, 40% le samedi, 30% le dimanche""

In [3]:
expected_frequencies= np.array([0.2,0.1,0.4,0.3])
expected_frequencies

array([0.2, 0.1, 0.4, 0.3])

In [4]:
expected_frequencies =expected_frequencies*len(df)
expected_frequencies

array([48.8, 24.4, 97.6, 73.2])

In [5]:
observed_frequencies= df["day"].value_counts().sort_index().round(2)
observed_frequencies

day
Thur    62
Fri     19
Sat     87
Sun     76
Name: count, dtype: int64

In [6]:
ch2_test=chisquare(f_obs=observed_frequencies,f_exp=expected_frequencies)

## En Résumé :

In [7]:

print(f"H0: \"Les clients donnent les pourboires : 20% jeudi,10% le vendredi, 40% le samedi, 30% le dimanche\"")

"Les clients donnent les pourboires : 20% jeudi,10% le vendredi, 40% le samedi, 30% le dimanche"
alpha = 0.02
p_value= ch2_test.pvalue 
if p_value< alpha :
    print("nous avons suffisament d'evidences pour rejeter H0","\n" f"NB: la p_value est {p_value.round(6)}")
else:
    print("nous n'avons pas suffisament d'evidences pour rejeter H0","\n" f"NB: la p_value est {p_value.round(6)}")

H0: "Les clients donnent les pourboires : 20% jeudi,10% le vendredi, 40% le samedi, 30% le dimanche"
nous n'avons pas suffisament d'evidences pour rejeter H0
NB: la p_value est 0.110453