# Librairie

In [2]:
import numpy as numpy
import pandas as pd
import matplotlib
import matplotlib.pyplot as pyplot
import seaborn as sns
import scipy 
from scipy.stats import ttest_1samp

print("pandas version:" ,pd.__version__)
print("matplotlib version:" ,matplotlib.__version__)
print("seaborn version:" ,sns.__version__)
print("scipy versiion:" , scipy.__version__)

pandas version: 2.2.2
matplotlib version: 3.9.2
seaborn version: 0.13.2
scipy versiion: 1.13.1

## Data

In [3]:
df= sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Types de variables et comprehension du dataset 

### variables discretes: 
- sex : le sexe du client (homme ou femme)

- smoker : le client est fumeur ou pas

- day : le jour de la semaine où le client est venu

- time : le type de repas, le matin (lunch) ou la soirée (le dinner)

- size : le nombre de place dont dispose la table du client 

### Variables continues :
- total_bill : le total des depenses effectuése par le client

- tip : le pourboire donner par le client

# T-Test 1 sample

H0: "le pourboire moyen dans ce restaurant est de 3.5 £"

In [4]:
df["tip"].describe()

count    244.000000
mean       2.998279
std        1.383638
min        1.000000
25%        2.000000
50%        2.900000
75%        3.562500
max       10.000000
Name: tip, dtype: float64

In [5]:
X=scipy.stats.ttest_1samp(df["tip"],popmean=3.5)

## En Résumé :

In [8]:
p = 0.8
print(f"H0: \"le pourboire moyen dans ce restaurant est de 3.5 £\"")

alpha = 0.02
p_value= X.pvalue 
if p_value< alpha :
    print("nous avons suffisament d'evidences pour rejeter H0","\n" f"NB: la p_value est {p_value.round(15)}")
else:
    print("nous n'avons pas suffisament d'evidences pour rejeter H0","\n" f"NB: la p_value est {p_value.round(15)}")

H0: "le pourboire moyen dans ce restaurant est de 3.5 £"
nous avons suffisament d'evidences pour rejeter H0
NB: la p_value est 4.1605377e-08