# Librairie

In [1]:
import numpy as numpy
import pandas as pd
import matplotlib
import matplotlib.pyplot as pyplot
import seaborn as sns
import scipy 
from scipy.stats import ttest_ind

print("pandas version:" ,pd.__version__)
print("matplotlib version:" ,matplotlib.__version__)
print("seaborn version:" ,sns.__version__)
print("scipy versiion:" , scipy.__version__)

pandas version: 2.2.2
matplotlib version: 3.9.2
seaborn version: 0.13.2
scipy versiion: 1.13.1

## Data

In [2]:
df= sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Types de variables et comprehension du dataset 

### variables discretes: 
- sex : le sexe du client (homme ou femme)

- smoker : le client est fumeur ou pas

- day : le jour de la semaine où le client est venu

- time : le type de repas, le matin (lunch) ou la soirée (le dinner)

- size : le nombre de place dont dispose la table du client 

### Variables continues :
- total_bill : le total des depenses effectuése par le client

- tip : le pourboire donner par le client

In [4]:
df["tip"].describe()

count    244.000000
mean       2.998279
std        1.383638
min        1.000000
25%        2.000000
50%        2.900000
75%        3.562500
max       10.000000
Name: tip, dtype: float64

# TTest_ind

H0: "l n'y a pas de difference entre le pourboire laisser par les hommes et les femmes"

In [7]:
df.groupby("sex")["tip"].describe()

C:\Users\franc\AppData\Local\Temp\ipykernel_15048\199809758.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("sex")["tip"].describe()

        count      mean       std  min  25%   50%   75%   max
sex
Male    157.0  3.089618  1.489102  1.0  2.0  3.00  3.76  10.0
Female   87.0  2.833448  1.159495  1.0  2.0  2.75  3.50   6.5

les femmes laissent un pourboire moyen de 2.

In [18]:
df_male= df.query( " `sex`== 'Male' ")
df_female=df.query("`sex` == 'Female'")

print(df_female,df_male)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]      total_bill   tip   sex smoker  day    time  size
1         10.34  1.66  Male     No  Sun  Dinner     3
2         21.01  3.50  Male     No  Sun  Dinner     3
3         23.68  3.31  Male     No  Sun  Dinner     2
5         25.29  4.71  Male     No  Sun  Dinner     4
6          8.77  2.00  Male     No  Sun  Dinner     2
..          ...   ...   ...    ...  ...     ...   ...
236       12.60  1.00  Male    Yes  Sat  Dinner     2
237       32.83  1.17  Male    Yes  Sat  Dinner     2
239       29.03  5.92  Male     No  Sat  Dinner     3
241       22.67  2.00  Male    Yes  Sat  Dinner     2
242       17.82  1.75  Male     No  Sat  Dinner     2

[157 rows x 7 columns]

In [21]:
x=ttest_ind(df_male["tip"],df_female["tip"])
x

TtestResult(statistic=1.387859705421269, pvalue=0.16645623503456755, df=242.0)

## En Résumé :

In [22]:

print(f"H0: \"l n'y a pas de difference entre le pourboire laisser par les hommes et les femmes\"")

alpha = 0.02
p_value= x .pvalue 
if p_value< alpha :
    print("nous avons suffisament d'evidences pour rejeter H0","\n" f"NB: la p_value est {p_value.round(15)}")
else:
    print("nous n'avons pas suffisament d'evidences pour rejeter H0","\n" f"NB: la p_value est {p_value.round(15)}")

H0: "l n'y a pas de difference entre le pourboire laisser par les hommes et les femmes"
nous n'avons pas suffisament d'evidences pour rejeter H0
NB: la p_value est 0.166456235034568