## **LIBRAIRIES AND FUNCTIONS**

In [3]:
#i libairires
import pandas as pd
import seaborn as sns

import sklearn
from sklearn.model_selection import train_test_split

##functions
import sys

sys.path.append(r"C:\Users\franc\Desktop\FORMATION\DATA_SCIENCE\ML_PRO\DOC")
from perso import *

# **LOAD DATASET**

In [4]:
# path train dataset
path_data = r"C:\Users\franc\Desktop\FORMATION\DATA_SCIENCE\PROJET\PROJET_ML_PRO\Bank_Churn\source\train_data.csv"

df = pd.read_csv(path_data)
df.head()

,ID,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,37765,15794860,Ch'eng,627,France,Male,28.0,7,131694.04,1,1.0,1.0,161205.61,0
1,130453,15728005,Hargreaves,597,France,Male,34.0,2,0.00,2,0.0,1.0,181419.29,0
2,77297,15686810,Ts'ui,724,France,Male,39.0,7,0.00,2,1.0,1.0,100862.54,0
3,40858,15760244,Trevisano,663,Germany,Female,56.0,5,118577.24,3,1.0,0.0,61164.45,1
4,19804,15810563,French,627,France,Female,33.0,5,0.00,2,1.0,1.0,103737.82,0

In [5]:
print(df.shape)
print(df.info())
print(liste_vd(data=df))

(143579, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143579 entries, 0 to 143578
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ID               143579 non-null  int64
 1   CustomerId       143579 non-null  int64
 2   Surname          143579 non-null  object
 3   CreditScore      143579 non-null  int64
 4   Geography        143579 non-null  object
 5   Gender           143579 non-null  object
 6   Age              143579 non-null  float64
 7   Tenure           143579 non-null  int64
 8   Balance          143579 non-null  float64
 9   NumOfProducts    143579 non-null  int64
 10  HasCrCard        143579 non-null  float64
 11  IsActiveMember   143579 non-null  float64
 12  EstimatedSalary  143579 non-null  float64
 13  Exited           143579 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 15.3+ MB
None
['Surname', 'Geography', 'Gender']

## **DATA TESTSET (PERSO)**

In [6]:
X=df.drop(columns=["Exited"])
y=df["Exited"]

#split du data set
X_train ,X_test,y_train,y_test= train_test_split(X,y, test_size=0.2,random_state=0,stratify=y)

#consitution du dataset a analyser
train_set=X_train
train_set["Exited"]=y_train

#constitution du dataset pour la validation
test_set =X_test
test_set["Exited"]=y_test

#sauvegarde des fichiers
train_set.to_csv("train_set_perso.csv",index=False)
test_set.to_csv("test_set_perso.csv",index=False) 
y_test.to_csv("y_test.csv",index=False)

In [ ]:
df.isna().sum()
#aucu nan dans le data d'origine

ID                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64